{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'first.css' %}">
    <title>Document</title>
</head>
<body>
   {% include "manu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

     {% for x in myperson  %}
      <p>{{x.firstname}}{{x.lastname}}</p>
      {% endfor %}

   
   <p>Check out views.py to see what the heading variable looks like.</p>


   {% block con %}
        
   {% endblock %}

   

</body>
</html>